[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmltodict = "*"
delorean = "*"
xmljson = "*"

[dev-packages]
python-lsp-server = "*"
flake8 = "*"
epc = "*"
importmagic = "*"

[requires]
python_version = "3.9"
